@{
    Layout = null;

   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
           <h1>@ViewBag.seriesTitle</h1>
           <div>Issue: @ViewBag.issueNumber</div>

           <h4>Description</h4>
           <div>@Html.Raw(ViewBag.description)</div>
        @if(ViewBag.artists.Length > 0)
        {
           <h4>Artists</h4>
           <ul>
               @foreach (var artist in ViewBag.artists)
               {
                    <li>@artist</li>
               }
           </ul>
           
        }
    </div>
</body>
</html>
