@model ComicBookGallery.Models.ComicBook[]

@{
    ViewBag.Title = "Comic Books";
}
<h2><b>@ViewBag.Title</b></h2>
<div class="row well">
    @{
        foreach (var comicBook in Model)
        {
            <div class="col-md-3">
                <h5><b>@Html.ActionLink(comicBook.DisplayText,"Details", new { id = comicBook.Id })</b></h5>
                <img src="/Images/@comicBook.CoverImageFileName"
                     alt="@comicBook.DisplayText"
                     class="img-responsive" />
            </div>
        }
    }
    
</div>